<a href="https://colab.research.google.com/github/eildes06/02_DS_DATA_SCIENCE/blob/main/recommendation_system_task_for_huwai2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) Importing Libraries

In [4]:
import sys
import os
sys.path.append(os.path.abspath("../"))
#from recycs import *
from generic_preprocessing import *
from IPython.display import HTML

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
!pip install lightfm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lightfm
  Downloading lightfm-1.16.tar.gz (310 kB)
     |████████████████████████████████| 310 kB 8.0 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.21.6)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.7.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.0.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2022.9.24)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (3.1.0)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp37-cp37m-linux_x86_64.whl size=705368 sha256=0438d14ce15d9f385104cf59b4870a9d53d31a33e8bd317f613e9537e2444b5b
  Stored in directory: /root/.cache/pip/wheels/f8/56/28/5772a3bd3413d65f03aa452190b00898b680b10028a1021914
Successfully built lightfm
Installing collected packages: lightfm
Successfully installed lightfm-1.16

In [15]:
import pandas as pd
import numpy as np
from scipy import sparse
from lightfm import LightFM
from sklearn.metrics.pairwise import cosine_similarity

def create_interaction_matrix(df,user_col, item_col, rating_col, norm= False, threshold = None):
    '''
    Function to create an interaction matrix dataframe from transactional type interactions
    Required Input -
        - df = Pandas DataFrame containing user-item interactions
        - user_col = column name containing user's identifier
        - item_col = column name containing item's identifier
        - rating col = column name containing user feedback on interaction with a given item
        - norm (optional) = True if a normalization of ratings is needed
        - threshold (required if norm = True) = value above which the rating is favorable
    Expected output - 
        - Pandas dataframe with user-item interactions ready to be fed in a recommendation algorithm
    '''
    interactions = df.groupby([user_col, item_col])[rating_col] \
            .sum().unstack().reset_index(). \
            fillna(0).set_index(user_col)
    if norm:
        interactions = interactions.applymap(lambda x: 1 if x > threshold else 0)
    return interactions

def create_user_dict(interactions):
    '''
    Function to create a user dictionary based on their index and number in interaction dataset
    Required Input - 
        interactions - dataset create by create_interaction_matrix
    Expected Output -
        user_dict - Dictionary type output containing interaction_index as key and user_id as value
    '''
    user_id = list(interactions.index)
    user_dict = {}
    counter = 0 
    for i in user_id:
        user_dict[i] = counter
        counter += 1
    return user_dict
    
def create_item_dict(df,id_col,name_col):
    '''
    Function to create an item dictionary based on their item_id and item name
    Required Input - 
        - df = Pandas dataframe with Item information
        - id_col = Column name containing unique identifier for an item
        - name_col = Column name containing name of the item
    Expected Output -
        item_dict = Dictionary type output containing item_id as key and item_name as value
    '''
    item_dict ={}
    for i in range(df.shape[0]):
        item_dict[(df.loc[i,id_col])] = df.loc[i,name_col]
    return item_dict

def runMF(interactions, n_components=30, loss='warp', k=15, epoch=30,n_jobs = 4):
    '''
    Function to run matrix-factorization algorithm
    Required Input -
        - interactions = dataset create by create_interaction_matrix
        - n_components = number of embeddings you want to create to define Item and user
        - loss = loss function other options are logistic, brp
        - epoch = number of epochs to run 
        - n_jobs = number of cores used for execution 
    Expected Output  -
        Model - Trained model
    '''
    x = sparse.csr_matrix(interactions.values)
    model = LightFM(no_components= n_components, loss=loss,k=k)
    model.fit(x,epochs=epoch,num_threads = n_jobs)
    return model

def sample_recommendation_user(model, interactions, user_id, user_dict, 
                               item_dict,threshold = 0,nrec_items = 10, show = True):
    '''
    Function to produce user recommendations
    Required Input - 
        - model = Trained matrix factorization model
        - interactions = dataset used for training the model
        - user_id = user ID for which we need to generate recommendation
        - user_dict = Dictionary type input containing interaction_index as key and user_id as value
        - item_dict = Dictionary type input containing item_id as key and item_name as value
        - threshold = value above which the rating is favorable in new interaction matrix
        - nrec_items = Number of output recommendation needed
    Expected Output - 
        - Prints list of items the given user has already bought
        - Prints list of N recommended items  which user hopefully will be interested in
    '''
    n_users, n_items = interactions.shape
    user_x = user_dict[user_id]
    scores = pd.Series(model.predict(user_x,np.arange(n_items)))
    scores.index = interactions.columns
    scores = list(pd.Series(scores.sort_values(ascending=False).index))
    
    known_items = list(pd.Series(interactions.loc[user_id,:] \
                                 [interactions.loc[user_id,:] > threshold].index) \
								 .sort_values(ascending=False))
    
    scores = [x for x in scores if x not in known_items]
    return_score_list = scores[0:nrec_items]
    known_items = list(pd.Series(known_items).apply(lambda x: item_dict[x]))
    scores = list(pd.Series(return_score_list).apply(lambda x: item_dict[x]))
    if show == True:
        print("Known Likes:")
        counter = 1
        for i in known_items:
            print(str(counter) + '- ' + i)
            counter+=1

        print("\n Recommended Items:")
        counter = 1
        for i in scores:
            print(str(counter) + '- ' + i)
            counter+=1
    return return_score_list
    

def sample_recommendation_item(model,interactions,item_id,user_dict,item_dict,number_of_user):
    '''
    Funnction to produce a list of top N interested users for a given item
    Required Input -
        - model = Trained matrix factorization model
        - interactions = dataset used for training the model
        - item_id = item ID for which we need to generate recommended users
        - user_dict =  Dictionary type input containing interaction_index as key and user_id as value
        - item_dict = Dictionary type input containing item_id as key and item_name as value
        - number_of_user = Number of users needed as an output
    Expected Output -
        - user_list = List of recommended users 
    '''
    n_users, n_items = interactions.shape
    x = np.array(interactions.columns)
    scores = pd.Series(model.predict(np.arange(n_users), np.repeat(x.searchsorted(item_id),n_users)))
    user_list = list(interactions.index[scores.sort_values(ascending=False).head(number_of_user).index])
    return user_list 


def create_item_emdedding_distance_matrix(model,interactions):
    '''
    Function to create item-item distance embedding matrix
    Required Input -
        - model = Trained matrix factorization model
        - interactions = dataset used for training the model
    Expected Output -
        - item_emdedding_distance_matrix = Pandas dataframe containing cosine distance matrix b/w items
    '''
    df_item_norm_sparse = sparse.csr_matrix(model.item_embeddings)
    similarities = cosine_similarity(df_item_norm_sparse)
    item_emdedding_distance_matrix = pd.DataFrame(similarities)
    item_emdedding_distance_matrix.columns = interactions.columns
    item_emdedding_distance_matrix.index = interactions.columns
    return item_emdedding_distance_matrix

def item_item_recommendation(item_emdedding_distance_matrix, item_id, 
                             item_dict, n_items = 10, show = True):
    '''
    Function to create item-item recommendation
    Required Input - 
        - item_emdedding_distance_matrix = Pandas dataframe containing cosine distance matrix b/w items
        - item_id  = item ID for which we need to generate recommended items
        - item_dict = Dictionary type input containing item_id as key and item_name as value
        - n_items = Number of items needed as an output
    Expected Output -
        - recommended_items = List of recommended items
    '''
    recommended_items = list(pd.Series(item_emdedding_distance_matrix.loc[item_id,:]. \
                                  sort_values(ascending = False).head(n_items+1). \
                                  index[1:n_items+1]))
    if show == True:
        print("Item of interest :{0}".format(item_dict[item_id]))
        print("Item similar to the above item:")
        counter = 1
        for i in recommended_items:
            print(str(counter) + '- ' +  item_dict[i])
            counter+=1
    return recommended_items

### 2) Importing Data

In [6]:
import os
for dirname, _, filenames in os.walk('/content/drive/MyDrive/Data/ml-1m'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/drive/MyDrive/Data/ml-1m/users.dat
/content/drive/MyDrive/Data/ml-1m/ratings.dat
/content/drive/MyDrive/Data/ml-1m/movies.dat
/content/drive/MyDrive/Data/ml-1m/README

In [7]:
# Load each data set (users, movies, and ratings).
users_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv("/content/drive/MyDrive/Data/ml-1m/users.dat", sep = "::",
                    names = users_cols, engine='python')


ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv("/content/drive/MyDrive/Data/ml-1m/ratings.dat",
                      sep = "::",names = ratings_cols, engine='python')

# The movies file contains a binary feature for each genre.
genre_cols = [
    "genre_unknown", "Action", "Adventure", "Animation", "Children", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"
]
movies_cols = [
    'movie_id', 'title', 'release_date', "video_release_date", "imdb_url"
] + genre_cols
movies = pd.read_csv("/content/drive/MyDrive/Data/ml-1m/movies.dat", sep = "::",
                     names = movies_cols, encoding='latin-1', engine='python')

In [9]:

ratings.head()

   user_id  movie_id  rating  unix_timestamp
0        1      1193       5       978300760
1        1       661       3       978302109
2        1       914       3       978301968
3        1      3408       4       978300275
4        1      2355       5       978824291

In [10]:

movies.head()

,movie_id,title,release_date,video_release_date,imdb_url,genre_unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
users.head()

   user_id age  sex  occupation zip_code
0        1   F    1          10    48067
1        2   M   56          16    70072
2        3   M   25          15    55117
3        4   M   45           7    02460
4        5   M   25          20    55455

### 3) Preprocessing

#### 3.1) Create interaction matrix

In [17]:
interactions = create_interaction_matrix(df = ratings,
                                         user_col = 'user_id',
                                         item_col = 'movie_id',
                                         rating_col = 'rating',
                                         threshold = '3')
interactions.shape

(6040, 3706)

In [18]:
interactions.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 3.2) Create User Dict

In [19]:
user_dict = create_user_dict(interactions=interactions)

#### 3.3) Create Item dict

In [21]:
movies_dict = create_item_dict(df = movies,
                               id_col = 'movie_id',
                               name_col = 'title')

### 4) Building Matrix Factorization model

In [23]:
mf_model = runMF(interactions = interactions,
                 n_components = 30,
                 loss = 'warp',
                 k = 15,
                 epoch = 30,
                 n_jobs = 4)

### 5) User Recommender

In [24]:
rec_list = sample_recommendation_user(model = mf_model, 
                                      interactions = interactions, 
                                      user_id = 10, 
                                      user_dict = user_dict,
                                      item_dict = movies_dict, 
                                      threshold = 4,
                                      nrec_items = 10)

Known Likes:
1- What About Bob? (1991)
2- Chicken Run (2000)
3- Starman (1984)
4- White Christmas (1954)
5- Mr. Mom (1983)
6- Murphy's Romance (1985)
7- Mr. Saturday Night (1992)
8- Close Encounters of the Third Kind (1977)
9- Heart and Souls (1993)
10- Guess Who's Coming to Dinner (1967)
11- Good Earth, The (1937)
12- American Graffiti (1973)
13- Defending Your Life (1991)
14- Never Cry Wolf (1983)
15- Far and Away (1992)
16- Galaxy Quest (1999)
17- Anna and the King (1999)
18- Fisher King, The (1991)
19- Shop Around the Corner, The (1940)
20- Scrooged (1988)
21- Little Big Man (1970)
22- Ferris Bueller's Day Off (1986)
23- Pajama Game, The (1957)
24- Christmas Story, A (1983)
25- Big (1988)
26- Sixth Sense, The (1999)
27- Little Shop of Horrors (1986)
28- Trekkies (1997)
29- Superman (1978)
30- Midsummer Night's Dream, A (1999)
31- Election (1999)
32- Matrix, The (1999)
33- October Sky (1999)
34- Crocodile Dundee (1986)
35- Tea with Mussolini (1999)
36- Patch Adams (1998)
37- You've Got Mail (1998)
38- Christmas Vacation (1989)
39- Cocoon (1985)
40- Miracle on 34th Street (1947)
41- Shakespeare in Love (1998)
42- Elizabeth (1998)
43- Life Is Beautiful (La Vita è bella) (1997)
44- Children of a Lesser God (1986)
45- My Cousin Vinny (1992)
46- Producers, The (1968)
47- Hero (1992)
48- Willow (1988)
49- Beetlejuice (1988)
50- NeverEnding Story, The (1984)
51- Dark Crystal, The (1982)
52- Ever After: A Cinderella Story (1998)
53- Indiana Jones and the Temple of Doom (1984)
54- L.A. Story (1991)
55- Tron (1982)
56- Splash (1984)
57- Sleeping Beauty (1959)
58- Peter Pan (1953)
59- Little Mermaid, The (1989)
60- Happiest Millionaire, The (1967)
61- Darby O'Gill and the Little People (1959)
62- Absent Minded Professor, The (1961)
63- Back to the Future Part III (1990)
64- Lethal Weapon (1987)
65- Labyrinth (1986)
66- Rain Man (1988)
67- Out of Africa (1985)
68- West Side Story (1961)
69- There's Something About Mary (1998)
70- Lost in Space (1998)
71- As Good As It Gets (1997)
72- Good Will Hunting (1997)
73- Truman Show, The (1998)
74- FairyTale: A True Story (1997)
75- Gattaca (1997)
76- Contact (1997)
77- Men in Black (1997)
78- Face/Off (1997)
79- Benny & Joon (1993)
80- Michael (1996)
81- Grease (1978)
82- Shine (1996)
83- Star Trek: First Contact (1996)
84- Bram Stoker's Dracula (1992)
85- When Harry Met Sally... (1989)
86- Field of Dreams (1989)
87- Being There (1979)
88- Indiana Jones and the Last Crusade (1989)
89- Somewhere in Time (1980)
90- Fantasia (1940)
91- Young Frankenstein (1974)
92- Fried Green Tomatoes (1991)
93- Arsenic and Old Lace (1944)
94- Groundhog Day (1993)
95- Better Off Dead... (1985)
96- Day the Earth Stood Still, The (1951)
97- Rosencrantz and Guildenstern Are Dead (1990)
98- Terminator, The (1984)
99- Grand Day Out, A (1992)
100- Aliens (1986)
101- Raiders of the Lost Ark (1981)
102- Princess Bride, The (1987)
103- Star Wars: Episode V - The Empire Strikes Back (1980)
104- Wrong Trousers, The (1993)
105- On Golden Pond (1981)
106- E.T. the Extra-Terrestrial (1982)
107- Dirty Dancing (1987)
108- Monty Python's Life of Brian (1979)
109- Fish Called Wanda, A (1988)
110- Willy Wonka and the Chocolate Factory (1971)
111- William Shakespeare's Romeo and Juliet (1996)
112- That Thing You Do! (1996)
113- Sound of Music, The (1965)
114- Mary Poppins (1964)
115- Winnie the Pooh and the Blustery Day (1968)
116- Cinderella (1950)
117- Shaggy Dog, The (1959)
118- Escape to Witch Mountain (1975)
119- Cat on a Hot Tin Roof (1958)
120- Inspector General, The (1949)
121- Mr. Smith Goes to Washington (1939)
122- It's a Wonderful Life (1946)
123- Gone with the Wind (1939)
124- Wizard of Oz, The (1939)
125- Meet Me in St. Louis (1944)
126- Roman Holiday (1953)
127- Sabrina (1954)
128- My Fair Lady (1964)
129- Breakfast at Tiffany's (1961)
130- First Wives Club, The (1996)
131- Phenomenon (1996)
132- Independence Day (ID4) (1996)
133- Close Shave, A (1995)
134- Wallace & Gromit: The Best of Aardman Animation (1996)
135- Beauty and the Beast (1991)
136- Snow White and the Seven Dwarfs (1937)
137- Dances with Wolves (1990)
138- Ghost (1990)
139- Blade Runner (1982)
140- Sleepless in Seattle (1993)
141- Four Weddings and a Funeral (1994)
142- Forrest Gump (1994)
143- While You Were Sleeping (1995)
144- Star Trek: Generations (1994)
145- Stargate (1994)
146- Nell (1994)
147- Star Wars: Episode IV - A New Hope (1977)
148- Interview with the Vampire (1994)
149- Houseguest (1994)
150- Apollo 13 (1995)
151- Mr. Holland's Opus (1995)
152- Twelve Monkeys (1995)
153- Jumanji (1995)
154- Toy Story (1995)

 Recommended Items:
1- Back to the Future (1985)
2- Star Wars: Episode VI - Return of the Jedi (1983)
3- Honey, I Shrunk the Kids (1989)
4- Monty Python and the Holy Grail (1974)
5- 2001: A Space Odyssey (1968)
6- Jurassic Park (1993)
7- Lady and the Tramp (1955)
8- Back to the Future Part II (1989)
9- Aladdin (1992)
10- Star Wars: Episode I - The Phantom Menace (1999)

### 6) Item-User Recommender

In [25]:
sample_recommendation_item(model = mf_model,
                           interactions = interactions,
                           item_id = 1,
                           user_dict = user_dict,
                           item_dict = movies_dict,
                           number_of_user = 15)

[5525,
 3604,
 5642,
 614,
 4399,
 417,
 4300,
 5028,
 852,
 2758,
 4056,
 3160,
 2003,
 606,
 3496]

### 7) Item - Item Recommender

In [26]:
item_item_dist = create_item_emdedding_distance_matrix(model = mf_model,
                                                       interactions = interactions)

In [27]:
rec_list = item_item_recommendation(item_emdedding_distance_matrix = item_item_dist,
                                    item_id = 1,
                                    item_dict = movies_dict,
                                    n_items = 10)

Item of interest :Toy Story (1995)
Item similar to the above item:
1- Toy Story 2 (1999)
2- Aladdin (1992)
3- Lion King, The (1994)
4- Babe (1995)
5- Muppet Movie, The (1979)
6- Bug's Life, A (1998)
7- Antz (1998)
8- Pleasantville (1998)
9- Beauty and the Beast (1991)
10- Groundhog Day (1993)